@media (min-width: 1200px) {
    .mr-sm-2{
        max-width: 500px;
         margin: 0 auto;
  max-height: 100%;
    }
}

@media (min-width: 1200px) {
    .list-group{
        max-width: 150px;
         margin: 0 auto;
  max-height: 100%;
    }
}
@media (min-width: 1200px) {
    .card{
        max-width: 280px;
         margin: 0 auto;
  max-height: 100%;
    }
}

.wrapper {
  display: table;
  width: 100%;
}
.box {
  display: table-cell;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}